<div id="<%= dom_id course %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= course.description %>
  </p>

</div>
