<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <p class="text-green bg-green-600">Este es un texto blanco sobre un fondo azul.</p>


  <% content_for :title, "Courses" %>

  <div class="flex justify-between items-center">
  <%= link_to "New course", new_course_path, class: "inline-block bg-green-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out" %>
  </div>

  <div id="courses" class="min-w-full flex flex-wrap justify-center gap-14 pb-6">
    
      <%= render @courses %>
    
  </div>
</div>
